<!-- If there's an element to display, display the data-table. -->
{{#if count}}

    <!-- Data Table -->
    <table>
        <tr>
            <th colspan="{{columns}}" class="th_title">{{title}}</th>
        </tr>
        <tr>
            <th class="th_category">Faction Name</th>
            <th class="th_category">Acronym</th>

            <!-- REPLACE WITH FORM FOR ADDING A NEW ELEMENT -->
            <th class="th_category"><img src="icon_new.png" class="icon"></th>

        </tr>
        {{#each x}}
            <tr>
                <td>{{name}}</td>
                <td>{{acronym}}</td>

                <!-- REPLACE WITH FORM FOR ADDING A NEW ELEMENT -->
                <td class="icon_container"><img src="icon_edit.png" class="icon"><img src="icon_delete.png"
                                                                                      class="icon"></td>

            </tr>
        {{/each}}
    </table>

    <!-- If the data set is empty, display an error message. -->
{{else}}
    <span><p>It looks like there isn't any data to display.</p></span>
{{/if}}

<div id="factions_banner"><img src="factions.png"></div>
