<table>
    <tr>
        <th colspan="6" class="th_title">{{title}}</th>
    </tr>
    <tr>
        <th class="th_category" colspan="2">Name</th>
        <th class="th_category">Birth World</th>
        <th class="th_category">Faction</th>
        <th class="th_category">Status</th>
        <th class="th_category"></th>
    </tr>
    <tr>

        <form method="post" id="post_new_person">
            <td><input type="text" id="form_person_first" name="first_name" class="medium" placeholder="James T."
                       required></td>
            <td><input type="text" id="form_person_last" name="last_name" class="medium" placeholder="Kirk" required>
            </td>

            </td>

            <td>
                <select id="form_worlds" name="worlds">
                    {{#each worlds}}
                        <option value="{{world_id}}">{{name}}</option>
                    {{/each}}
                </select>
            </td>


            <td>
                <select id="form_factions" name="faction">
                    {{#each factions}}
                        <option value="{{faction_id}}">{{acronym}}</option>
                    {{/each}}
                    <option value="NULL" SELECTED>NULL</option>
                </select>
            </td>


            <td>
                <select id="form_status" name="status">
                    <option value="1">Alive</option>
                    <option value="0">Dead</option>
                </select>
            </td>


            <td>
                <!-- ADD NEW PERSON -->
                <input type="submit" name="New" value="ADD">

            </td>
        </form>
    </tr>

    {{#each person}}

        <tr>
            <td colspan="2">{{first_name}}
                {{last_name}}</td>
            <td>{{homeworld}}</td>
            <td>
                {{#if faction}}
                    {{faction}}
                {{else}}<span>NULL</span>
                {{/if}}
            </td>
            <td>{{#if living}}Alive
            {{else}} Dead
            {{/if}}</td>

            <td class="buttons">
                <!-- UPDATE A PERSON-->
                <form method="post" id="post_update_person" class="icon_form">
                    <input type="hidden" name="person_id" value="{{person_id}}">
                    <input type="submit" name="Edit" value="EDIT">
                </form>

                <!-- DELETE A PERSON -->
                <form method="post" id="post_delete_person" class="icon_form">
                    <input type="hidden" name="person_id" value="{{person_id}}">
                    <input type="submit" name="Delete" value="&#10060">
                </form>
            </td>
        </tr>
    {{/each}}
</table>
