{{#if count}}
    <table>
        <tr>
            <th colspan="{{columns}}" class="th_title">{{title}}</th>
        </tr>
        <tr>
            <th class="th_category">Person</th>
            <th class="th_category">Skill</th>
        </tr>
        {{#each x}}
            <tr>
                <td>{{first_name}} {{last_name}}</td>
                <td>{{name}}</td>
            </tr>
        {{/each}}
    </table>
{{/if}}
