 <table>
        <tr>
            <th colspan="{{columns}}" class="th_title">{{title}}</th>
        </tr>
        <tr>
            <th class="th_category">Person</th>
            <th class="th_category">Skill</th>
        </tr>
        {{#each x}}
            <tr>
                <td>{{first_name}} {{last_name}}</td>
                <td>{{name}}</td>
            </tr>
        {{/each}}
    </table>

 <div class="table_spacer_wide"></div>

 <table>
     <tr>
         <th class="th_category">Please note, since only one M:M relationship must be implemented for this project, there are no management options for this page. </th>
         </tr>
 </table>
