<table>
    <tr>
        <th colspan="5" class="th_title">{{title}}</th>
    </tr>
    <tr>
        <th class="th_category">Name</th>
        <th class="th_category">Class</th>
        <th class="th_category">Type</th>
        <th class="th_category">Owning Faction</th>
        <th class="th_category"></th>
    </tr>
    <tr>
        <form method="post" id="form_edit_ship">
            <Td>
                <input type="text" id="form_edit_ship_name" name="ship_name" value="{{name}}" required>
            </Td>
            <td><input type="text" id="form_edit_ship_class" name="ship_class" value="{{class}}" required></td>
            <td><input type="text" id="form_edit_ship_type" name="ship_type" value="{{type}}" required></td>
            <td>
                <select id="form_factions" name="faction">
                    <option value="{{faction_id}}" selected>{{faction_name}}</option>
                    <option disabled>---------</option>
                    {{#each all_factions}}
                        <option value="{{faction_id}}">{{name}}</option>
                    {{/each}}
                    <option value="">NULL</option>
                </select>
            </td>
            <td>
                <!-- UPDATE EDITED SHIP -->
                <input type="hidden" name="ship_id" value="{{ship_id}}">
                <input type="submit" name="Save" value="SAVE">

            </td>
        </form>
    </tr>
</table>

<div class="table_spacer_wide"></div>
<table>
    <tr>
        <th colspan="5" class="th_title">Passenger Manifest for the {{name}}</th>
    </tr>

        <tr>
            <th class="th_category">Name</th>
            <th class="th_category">Designation</th>
            <th class="th_category">Political Affiliation</th>
            <th class="th_category">Status</th>
            <th class="th_category"></th>
        </tr>

    {{#if known_passengers}}
        {{#each known_passengers}}
                <tr>
                    <td>{{first_name}} {{last_name}}</td>
                    <td>{{designation}}</td>
                    <td>{{faction_name}}</td>
                    <td>{{status}}</td>

                    <!-- REMOVE PASSENGER -->
                    <Td>
                        <form method="post" id="post_remove_passenger" class="icon_form">
                            <input type="hidden" name="person_id" value="{{person_id}}">
                            <input type="hidden" name="ship_id" value="{{ship_id}}">
                            <input type="submit" name="Remove people_ships from Edit Ships" value="REMOVE"></form>
                    </td>
                </tr>
        {{/each}}

    {{else}}
        <tr><td colspan="5"><span>0 Passengers</span></td></tr>
    {{/if}}

    </table>


    {{#if notAboard}}
        <div class="table_spacer_narrow"></div>
        <table>
            <form method="post" id="add_new_passenger">
                <tr>
                    <th class="th_category_spacer"><br></th>
                    <th class="th_category">
                        <label for="post_search">Add Passenger to {{name}}: </label>
                    </th>
                    <th class="th_category">
                        <select id="available_ships" name="passenger_to_add">
                            {{#each notAboard}}
                                <option value="{{person_id}}" selected>{{first_name}} {{last_name}}</option>
                            {{/each}}
                        </select>
                    </th>
                    <th class="th_category">
                        <!-- ADD PASSENGER -->
                        <input type="hidden" name="ship_id" value="{{target_ship}}">
                        <input type="submit" name="Add people_ships to Edit Ships" value="ADD PASSENGER">
                    </th>
                    <th class="th_category_spacer"><br></th>
                </tr>
            </form>
        </table>
    {{/if}}

