<div id="planets_banner"><img src="planets2.jpg"></div>
<div class="module">
    {{#if count}}
    <table>
        <tr>
            <th colspan="{{columns}}" class="th_title">{{title}}</th>
        </tr>
        <tr>
            <th class="th_category">Name</th>
            <th class="th_category">Location</th>
            <th class="th_category">Population</th>
            <th class="th_category">Governing Body</th>
            <th class="th_category">Resident<br>Designation</th>

            <!-- REPLACE WITH FORM FOR ADDING A NEW ELEMENT -->
            <th class="th_category"><img src="icon_new.png" class="icon"></th>
        </tr>
            {{#each x}}
                <tr>
                    <td>{{name}}</td>
                    <td>{{location}}</td>
                    <td>{{population}}</td>
                    <td>{{governing_body}}</td>
                    <td>{{resident_designation}}</td>

                    <!-- REPLACE WITH FORM FOR EDITING/UPDATING ELEMENT -->
                    <td class="icon_container"><img src="icon_edit.png" class="icon"><img src="icon_delete.png" class="icon"></td>
                </tr>
            {{/each}}
    </table>

        <!-- If the data set is empty, display an error message. -->
    {{else}}
        <span><p>It looks like there isn't any data to display.</p></span>
    {{/if}}

</div>